@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --background: #0a0a0a;*/
/*        --foreground: #ededed;*/
/*    }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-paddingX {
  @apply px-[16px] sm:px-[7%];
}

.primary-button {
  @apply bg-black text-white text-nowrap py-[15px] rounded-[62px] font-satoshi sm:max-w-[210px] w-full;
}

.secondary-button {
  @apply border border-black border-opacity-10 text-nowrap rounded-[62px] py-[13px] sm:py-[15px] font-satoshi font-medium sm:max-w-[218px] w-full;
}

.ellipsis-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  line-clamp:3;
  overflow: hidden;
}
