@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --background: #0a0a0a;*/
/*        --foreground: #ededed;*/
/*    }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-paddingX {
  @apply px-[16px] sm:px-[7%];
}

.primary-button {
  @apply bg-black hover:bg-[#F0F0F0]  text-white hover:text-black text-nowrap font-medium py-[15px] rounded-[62px] font-satoshi w-full border-2 border-black;
}

.secondary-button {
  @apply border-2 hover:bg-black hover:text-white border-black border-opacity-10 text-nowrap rounded-[62px] py-[13px] sm:py-[15px] max-w-[190px] sm:max-w-[230px] font-satoshi font-medium w-full;
}
